:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-slate-300);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* QR */

.qr-code {
    max-width: 320px;
    padding: 1rem;
    background-color: var(--color-white);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    text-align: center;
}

.qr-code img {
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: none;
}

.qr-code h2 {
    color: var(--color-slate-900);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 22px;
}

.qr-code p {
    font-size: 15px;
    color: var(--color-slate-500);
    margin: 0 1rem 1.5rem;
}