:root {
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

body {
    margin: 0;
    padding: 0;
    background-color: #F3D14D;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: none;
    margin: none;
}

.blog-card {
    max-width: 375px;
    width: 100%;
    margin: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: 1px solid #000;
    gap: 1rem;
}

/* Sections */
.blog-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 1rem;
}


.blog-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* components */
.blog-card-tag {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #F3D14D;
}

.blog-card h2 {
    font-size: 1.2rem;
    color: var(--gray-950);
    font-weight: 800;
}

.blog-card p {
    font-size: 1rem;
    color: var(--gray-500);
    font-weight: 500;
}

.blog-card-img {
    width: 100%;
    border-radius: 0.8rem;
}


